@import '../../styles/mixins';

.sidebar {
  height: 100%;
  position: fixed;
  .ant-layout-sider {
    height: 100%;
      .ant-menu-item {
        height: 84px;
        position: relative;
        margin-top: 18px;
        margin-bottom: 36px;
          img {
            @include wh(48px, 48px);
            position: absolute;
            top: 18px;
            bottom: 18px;
            left: 56px;
            right: 56px;
          }
      }
  }
  .ant-layout-sider-dark {
    min-width: 160px!important;
    max-width: 160px!important;
  }

  .ant-menu-item::after{
    left: 0;
    right: 100%!important;
    border: 3px solid #8964D7!important;
  }
  .ant-menu-item-selected{
    background-color: #FFE4D6!important;
    ::after{
      left: 0;
      right: 100%!important;
      border: 3px solid #8964D7!important;
  }}
  .ant-menu-inline {
    height: 100%;
    background: #FFE4D6;
    padding-top: 91px;
  }

  .ant-layout-sider-children {
    background: #ffffff;
  }

}
